<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="meliisa_staj.Properties.Settings.KusurVeriTabaniConnectionString"
            connectionString="Data Source=LAPTOP-TM8Q3FF3\SQLEXPRESS;Initial Catalog=KusurVeriTabani;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>